$primaryColor: #3e84ad;
$secondaryColor: #98bfd5;
$headerTextSize: 3em;

body {
  background-color: $primaryColor;
}

a:hover {
  cursor: pointer;
}

.mainContainer {
  margin-top: 50px;
}

.panelHeader {
  text-align: center;
  font-size: $headerTextSize;
}

.headerButtonContainer {
  text-align: right;
  margin-bottom: 10px;
}

tr.activeRow {
  background-color: $secondaryColor;
  cursor: pointer;
}

.inspectionTitle {
  margin-left: 15px;
}

.inspectionModalDelete, .inspectionModalEdit {
  text-align: right;
  margin-top: 10px;

  button {
    width: 100px;
  }
}